<div class="title-group">
  <h1 class="mat-h1"><b>Add Item</b></h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>
<div class="inner-wrapper">
  <mat-card>
    <div class="controlers-wrapper">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Item Name" [(ngModel)]="itemName">
      </mat-form-field>
    </div>
  </mat-card>
  <mat-card>
    <div class="full-wrapper button-wrapper">
      <div class="button-wrapper">
        <button mat-flat-button color="warn" (click)="saveItem()">Save</button>
      </div>
    </div>
  </mat-card>
</div>