<h2 mat-dialog-title>Where do you want to move the item to?</h2>
<mat-dialog-content>
  <form [formGroup]="moveStockForm">
    <mat-card>
      <div class="controlers-wrapper">
        <mat-form-field class="example-full-width">
          <mat-label>Location</mat-label>
          <mat-select formControlName="location">
            <mat-option [value]="location.location_id" *ngFor="let location of locationOptions">
              {{location.location_name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="handleError('location','required')">This field is required.</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Quantity" autocomplete="off" formControlName="quantity">
          <mat-error *ngIf="handleError('quantity','min')">Quantity cannot be less than 1.</mat-error>
          <mat-error *ngIf="handleError('quantity','required')">This field is required.</mat-error>
          <mat-error *ngIf="handleError('quantity','pattern')">Please enter a number.</mat-error>
        </mat-form-field>
        <div class="full-wrapper button-wrapper">
          <div class="button-wrapper">
            <button mat-flat-button color="primary" type="button" (click)="moveStockItem(moveStockForm.value)"
              [disabled]="moveStockForm.invalid">Move</button>
          </div>
        </div>
      </div>
    </mat-card>
  </form>
</mat-dialog-content>